@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
body {
  position: relative;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public sans", sans-serif;
  transition: all 0.2s ease-in-out;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
p {
  color: var(--grayish-blue);
}
.btn {
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}
.btn:hover {
  opacity: 0.6;
}
.container {
  padding: 2rem 5%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 5%;
  width: 100%;
  height: 90%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: var(--white);
  /* position: relative; */
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  padding: 15px;
  margin: 0 10px;
  display: inline-block;
  position: relative;
}
nav ul li a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, var(--bright-cyan), var(--lime-green));
}
header {
  display: flex;
  align-items: center;
  max-height: 90vh;
}
#menu {
  display: none;
}
header div {
  flex: 1;
}
header .content {
  width: 70%;
  padding: 0 10%;
  /* margin: auto; */
}
header .content h1 {
  font-size: 3rem;
  font-weight: 400;
}
header .content p {
  margin: 20px 0;
}
header div img {
  max-height: 700px;
  width: 100%;
  object-fit: contain;
  background-image: url("./images/bg-intro-desktop.svg");
  background-position: bottom left;
}
section {
  padding: 3rem 5%;
}
section:first-child {
  background-color: var(--light-grayish-blue);
}
.title {
  width: 40%;
  margin-bottom: 20px;
}
.title > * {
  margin-bottom: 10px;
}
.row {
  display: flex;
  gap: 15px;
}
.col {
  flex: 1;
}
.col .card > * {
  margin: 15px 0;
}
section:nth-child(2) .card img {
  height: 250px;
  width: 100%;
  border-radius: 5px;
}
footer {
  background-color: var(--dark-blue);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .social {
  display: flex;
  gap: 15px;
  font-size: 2rem;
}
footer ul li a {
  padding: 10px 0;
  color: var(--white);
}
footer ul li a:hover {
  color: var(--lime-green);
}
footer .brand,
footer .copyright .btn {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  nav {
    padding: 10px 5%;
    background-color: var(--white);
    z-index: 10;
  }
  nav .btn {
    display: none;
  }
  nav .navlinks {
    display: none;
  }
  nav .navlinks.active {
    display: block;
    position: absolute;
    top: 5%;
    left: 10%;
    flex-direction: column;
    width: 80%;
    box-shadow: -1px -7px 28px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px -7px 28px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -7px 28px -12px rgba(0, 0, 0, 0.75);
    /* transform: translate(-50%, -50%); */
    background-color: var(--white);
    text-align: center;
    z-index: 1;
  }
  #menu {
    display: block;
  }
  header {
    flex-direction: column-reverse;
  }
  header,
  .title,
  .row .card,
  footer .container {
    text-align: center;
  }
  header div img {
    height: 500px;
    width: 100%;
    background-position: top;
    background-size: contain;

    background-repeat: no-repeat;
    z-index: -10;
  }
  header .content {
    width: 100%;
  }
  .title {
    width: 100%;
  }
  .row,
  footer .container {
    flex-direction: column;
  }
  .row .card img {
    object-fit: contain;
  }
}
@media (max-width: 561px) {
  header div img {
    height: 200px;
    /* width: 100%; */
  }
}
